* {
    margin: 0;
    bottom: 0;
}

body {
    background-color: rgb(65, 65, 65);
    display: flex;
    align-items: center;
    justify-content: center;
}

#div_ver_cadastros {
    position: fixed;
    top: 3%;
    right: 5%;
}

#div_ver_cadastros #ver_cadastros {
    width: 150px;
    height: 40px;
    font-size: 15px;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    height: 100vh;
    width: 800px;
}

section #form_1 {  
    display: grid;
	grid-template-columns: repeat(2, 1fr);
    place-items: center;
    width: 100%;
    margin-bottom: 2rem;
}

section #form_2 {  
    display: grid;
	grid-template-columns: repeat(2, 1fr);
    place-items: center;
    width: 100%;
}

section div h1 {
    font-size: 70px;
    color: #0d6efd;
}

section .div_h3 {
    width: 95%;
    font-family: 'Source Sans Pro', sans-serif;
}

section .div_h3 h3{
    color: white;
    text-shadow: #0d6efd 0.1vw 0.1vw 0.1vw;
    font-size: 30px;
}

section form .form-floating {
    width: 70%;
} 

section form div #floatingInputValue {
    height: 50px;
    margin: 0.2vw 0;
}

section #form_2 #div_cep {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

section #form_2 #div_cep span{
    color: #0d6efd;
    font-size: 100%;
    font-style: italic;
    text-decoration: underline;
    cursor: pointer;
}

section #form_2 #div_cep span:hover{
    filter: brightness(1.15);
}

section #form_2 #div_select {
    width: 100%;
    display: flex;
    justify-content: center;
}

section #form_2 #div_select select{
    width: 70%;
}

section #div_botao {
    width: 50%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

section div #botao {
    width: 200px;
    font-size: 20px;
}

.div_inputs_desabilitados #select_desabilitado {
    color: rgba(0, 0, 0, 0.37);
    border-color: grey;
    background-color: rgba(194, 194, 194, 0.794);
}

.div_inputs_desabilitados #floatingInputValue {
    color: grey;
    border-color: grey;
    background-color: rgba(194, 194, 194, 0.794);
}

.div_inputs_desabilitados label {
    color: rgba(0, 0, 0, 0.37);
}

.div_inputs_habilitados #select_habilitado {
    color: black;
    border: 0;
    background-color: white;
}

.div_inputs_habilitados #floatingInputValue {
    color: black;
    border: 0;
    background-color: white;
}

.div_inputs_habilitados label {
    color: black;
}

#section_tabela {
    width: 100%;
    position: absolute;
    visibility: hidden;
} 

#section_tabela .table{
    width: 80%;
}

#section_tabela .table th, #section_tabela .table td{
    font-size: 0.8vw;
}

#section_tabela .table td .bi {
    cursor: pointer;
    width: 1vw;
}

#section_tabela .table td .bi:hover {
    filter: brightness(1.3);
}

#section_tabela .table #th_fechar {
    display: flex;
    justify-content: center;
} 

#section_tabela .table #th_fechar #fechar {
    width: 2vw;
    height: 1.5vw;
    margin: 0;
    cursor: pointer;
}

#section_tabela .table #th_fechar #fechar:hover {
    filter: brightness(1.3);
}

#div_nenhum_cadastro {
    visibility: hidden;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    cursor: pointer;
}

#div_nenhum_cadastro h1 {
    font-size: 4vw;
    color: white;  
}

#div_nenhum_cadastro p{
    font-size: 1.2vw;
    color: #0d6efd;
}

@media screen and (max-width: 800px) {

    section { 
        width: 600px;
    }
}

@media screen and (max-width: 600px) {

    section { 
        width: 400px;
    }
    
    section div h1 {
        font-size: 40px;
    }
    
    section .div_h3 h3{
        color: white;
        text-shadow: #0d6efd 0.1vw 0.1vw 0.1vw;
        font-size: 20px;
    } 
    
    section form div #floatingInputValue {
        height: 40px;
        margin: 0.6vw 0;
        font-size: 13px;
    }

    section #form_2 #div_select select{
        margin: 1vw 0;
        font-size: 12px;
    }
    
    section form div label {
        font-size: 10px;
    }
}

@media screen and (max-width: 400px) {

    #div_ver_cadastros {
        top: 1%;
    }

    section div h1 {
        font-size: 35px;
    }

    section .div_h3 {
        width: 60%;
    }

    section #form_1 {  
        display: flex;
        flex-direction: column;
        width: 60%;
    }
    
    section #form_2 {  
        display: flex;
        flex-direction: column;
        width: 60%;
    }

    section form div #floatingInputValue {
        margin: 1vw 0;
        font-size: 12px;
    }

    section #form_2 #div_select select{
        margin: 1vw 0;
        font-size: 12px;
    }
    
    section div #botao {
        width: 150px;
        font-size: 15px;
    }

    #div_ver_cadastros #ver_cadastros {
        width: 100px;
        height: 30px;
        font-size: 10px;
    }
}